version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: boxuser
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: whats
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./backend/.env
    environment:
      - DB_HOST=db    
      - REDIS_URI=redis://redis:6379  
    ports:
      - "8081:3000"
    volumes:
      - ./backend/certs:/app/certs
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "3000:80"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/catalogo.conf:/etc/nginx/conf.d/catalogo.conf
      - ./nginx/certs:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    depends_on:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    entrypoint: >
      sh -c "certbot certonly --webroot
            --webroot-path=/var/www/certbot
            --email fernando@apolo.com.py
            --agree-tos --no-eff-email
            -d catalogo.apolo.com.py && 
            while :; do 
              certbot renew --webroot --webroot-path=/var/www/certbot && 
              nginx -s reload; 
              sleep 12h; 
            done"      

volumes:
  postgres_data:
